.tr-app-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  font-size: 32px;
}

.tr-app {
  width: 100%;
  height: 100%;
  background: lightgray;
  display: grid;
  grid-template:
  "title input" minmax(200px, 374px)
  "info button" auto
  / 69px auto;
  font-size: 1rem;
}

.tr-input {
  grid-area: input;

  &__textarea {
    padding: 15px;
    margin: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    text-align: right;
    border: none;
    resize: none;
    font-size: 1rem;
    font-family: 'VT323', monospace;
    background: lightgrey;
    outline: none;
  }
}

.tr-result {
  grid-area: input;
  background: lightgrey;
  overflow: scroll;

  &__textarea {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 15px;
    margin: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    text-align: center;
    font-size: 1rem;
    font-family: 'VT323', monospace;
  }
}

.tr-title-bar {
  grid-area: title;
  height: minmax(200px, 374px);
  width: 69px;
  background: $yellow;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  &__text {
    transform: rotate(-90deg);
    transform-origin: center center 0;
    text-align: center;
    line-height: 70%;
  }
}

.tr-info-bar {
  grid-area: info;
  width: 69px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: grey;

  &__text {
    transform: rotate(-90deg);
    transform-origin: center center 0;
    text-align: center;
    line-height: 70%;
  }
}

.tr-button {
  cursor: pointer;
  grid-area: button;
  background: $yellow;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.71rem;
}



@media screen and (max-height: 374px) {
  .tr-app {
    grid-template:
    "title input button" minmax(200px, 374px)
    / 67px 1fr 1fr;
}

.tr-input {

  &__textarea {
    font-size: 22px;
  }

}

.tr-info-bar {
  display: none;
}

}
