// colors
$primary: #1E9690;
$black: #1b1b1b;
$white: #fdfdfd;
$grey: #ECECEC;
$darkgrey: rgb(153, 153, 153);
$highlight: #6FC6C2;

// animation
$animation-duration: 0.4s;
$animation-type: ease-in;

// sizes
$desktop: 724px;

